.rank {
    background-color: grey;
    color: white;
    height: calc(100vh - 56px);
    border: 10px solid transparent;
    border-image: linear-gradient(to bottom right,
            #0055a4 0%, #0055a4 33%,
            #ffffff 33%, #ffffff 66%,
            #ef4135 66%, #ef4135 100%);
    border-image-slice: 1;
}

.rankTitle {
    text-align: center;
    padding-top: 50px;
    font-family: "Press Start 2P";
    text-shadow: 2px 2px 0 black, 2px -2px 0 black, -2px 2px 0 black, -2px -2px 0 black, 2px 0px 0 black, 0px 2px 0 black, -2px 0px 0 black, 0px -2px 0 black;
    color: white;
    font-size: 20px;
}

.userRank {
    text-align: center;
    font-family: "Press Start 2P";
    color: black;
    text-shadow: 1px 1px 0 #FEEA88, 2px -2px 0 #FEEA88, -2px 2px 0 #FEEA88, -2px -2px 0 #FEEA88, 2px 0px 0 #FEEA88, 0px 2px 0 #FEEA88, -2px 0px 0 #FEEA88, 0px -2px 0 #FEEA88;
    font-size: 10px;
}