.login {
    color: white;
    height: calc(100vh - 56px);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    background-image: url('../media/Background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    border: 10px solid transparent;
    border-image: linear-gradient(to bottom right,
            #0055a4 0%, #0055a4 33%,
            #ffffff 33%, #ffffff 66%,
            #ef4135 66%, #ef4135 100%);
    border-image-slice: 1;
}

.borderBg {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    width: 400px;
    height: 600px;
    border: 2px solid black;
}

.title {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    font-family: "Press Start 2P";
    text-shadow: 2px 2px 0 black, 2px -2px 0 black, -2px 2px 0 black, -2px -2px 0 black, 2px 0px 0 black, 0px 2px 0 black, -2px 0px 0 black, 0px -2px 0 black;
    color: white;
    font-size: 30px;
    font-weight: bold;
}

.logoLogin {
    font-size: 20px;
    font-family: "Press Start 2P";
    text-shadow: 2px 2px 0 black, 2px -2px 0 black, -2px 2px 0 black, -2px -2px 0 black, 2px 0px 0 black, 0px 2px 0 black, -2px 0px 0 black, 0px -2px 0 black;
    color: white;
    font-weight: bold;
}

.msgCard {
    background-color: lightgray;
    border-radius: 5px;
    padding: 20px;
    width: fit-content;
    border: 1px solid #FEEA88;
    margin: auto;
    margin-top: 100px;
}

.msg {
    font-size: 55%;
    font-family: "Press Start 2P";
    text-shadow: 2px 2px 0 black, 2px -2px 0 black, -2px 2px 0 black, -2px -2px 0 black, 2px 0px 0 black, 0px 2px 0 black, -2px 0px 0 black, 0px -2px 0 black;
    color: white;
    font-weight: bold;
}

.msglogo {
    font-size: 15px;
    font-family: "Press Start 2P";
    text-shadow: 2px 2px 0 black, 2px -2px 0 black, -2px 2px 0 black, -2px -2px 0 black, 2px 0px 0 black, 0px 2px 0 black, -2px 0px 0 black, 0px -2px 0 black;
    color: white;
    font-weight: bold;
}

.btnContainer {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 30px;
}

.btnLogin {
    all: unset;
    border: 1px solid black;
    padding: 10px;
    color: #FEEA88;
    background-color: grey;
    border-radius: 3px;
    font-family: "Press Start 2P";
    font-size: 8px;
}

@media (max-width: 768px) {
    .login {
        background-size: cover;
    }

    .borderBg {
        border: none;
    }
}